header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #616DD6;
    color: #ffffff;
    padding: 10px;
    font-family: 'Hind', sans-serif;
    height: 20px;
}


